/* 
    Graphics palette 
        Header bg, form bg: #fffeff
        Header color : #000000
        Body bg : #f7f8fb
        Button bg, tag color : #49acf2
        Tag colors: #9c72e3 #68bea9 #f49c37 #dc62a5 #b2c928
        Main form text color: #47474f
    
    All the sections of the main "form" have the same layout, 
    the elements that will change are the tags (with different 
    text and colors) and the check/cross at the start
*/

/* Basic reset to have the control of margin, padding and real size of all 
the elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
}

/* General settings */
body{
    background-color: #f7f8fb;
}
header, footer{
    background-color: #fffeff;
    color: #000000;
}
main{
    background-color: #fffeff;
    color: #47474f;
    font-size: 1.5em;
    font-weight: 400;
}
/* Tags settings */
.tag{
    color: white;
}
.tagBlue{
    background-color: #49acf2;
}
.tagViolet{
    background-color: #9c72e3;
}
.tagTeal{
    background-color: #68bea9;
}
.tagOrange{
    background-color: #f49c37;
}
.tagPurple{
    background-color: #dc62a5;
}
.tagGreen{
    background-color: #b2c928;
}

/* Header */
#divLogo{
    margin-left: 30px;
    padding: 15px 0 15px 0;
    margin-bottom: 20px;
}
#divLogo h1{
    display: inline-block;
    font-weight: 700;
    font-size: 3em;
    vertical-align: middle;
}
#divLogo img{
    height: 64px;
    width: 64px;
    height: 4em;
    vertical-align: middle;
}