/* 
    Graphics palette 
        Header bg, form bg: #fffeff
        Header color : #000000
        Body bg : #f7f8fb
        Button bg, tag color : #49acf2
        Tag colors: #9c72e3 #68bea9 #f49c37 #dc62a5 #b2c928
        Main form text color: #47474f
    
    All the sections of the main "form" have the same layout, 
    the elements that will change are the tags (with different 
    text and colors) and the check/cross at the start
*/

/* Basic reset to have the control of margin, padding and real size of all 
the elements */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Archivo Narrow', sans-serif;
}

/* General settings */
body{
    background-color: #f7f8fb;
}
header{
    background-color: #fffeff;
    color: #000000;
}
main{
    color: #47474f;
    font-size: 1.5em;
    font-weight: 400;
}
.txtWhite{
    color: white;
}
.bgBlue{
    background-color: #49acf2;
}
.bgViolet{
    background-color: #9c72e3;
}
.bgTeal{
    background-color: #68bea9;
}
.bgOrange{
    background-color: #f49c37;
}
.bgPurple{
    background-color: #dc62a5;
}
.bgGreen{
    background-color: #b2c928;
}

/* Header */
#divLogo{
    margin-left: 30px;
    padding: 15px 0 15px 0;
    margin-bottom: 20px;
}
#divLogo h1{
    display: inline-block;
    font-weight: 700;
    font-size: 3.5em;
    vertical-align: middle;
}
#divLogo img{
    height: 64px;
    width: 64px;
    height: 4em;
    vertical-align: middle;
}

/* General container main sections settings*/
.divContainer{
    width: 55%;
    margin: 50px auto;
    background-color: #fffeff;
    border-radius: 8px;
    padding-bottom: 40px;
}

/* Nav bar */
.divContainer nav{
    width: 100%;
    padding: 20px 75px 10px 75px;
    border-bottom: 3px solid #f7f8fb;
}
.divContainer nav button, .divContainer nav input[type="text"]{
    box-sizing: content-box;
    height: 28px;
    text-align: center;
    padding: 4px 10px 4px 10px;
    border: 0;
    font-size: 0.7em;
    border-radius: 5px;
}
.divContainer nav input[type="text"]{
    height: 25px;
    border: 2px solid lightgrey;
}

/* General section */
.divSections details{
    padding: 20px 75px 10px 75px;
    margin: 20px 0;
}
.divSections details summary{
    font-weight: 700;
    font-size: 1.1em;
}
.divSections details ul{
    list-style-type: none;
}
.divSections details li{
    margin: 25px 0;
}
.divSections text{
    font-size: 1em;
}
.divSections .check{
    color: #68bea9;
    border: 1px solid #68bea9;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 0.6em;
    margin-right: 5px;
}
.divSections .cross{
    color: #e42a2a;
    border: 1px solid #e42a2a;
    border-radius: 50%;
    padding: 5px 8px;
    font-size: 0.6em;
    margin-right: 5px;
}
.tag{
    border-radius: 15px;
    padding: 7px 15px;
    font-size: 0.6em;
}